<div class="container">
   <h2>Seller Details </h2>
   <ul class="responsive-table">
      <li class="table-header">
         <div class="col">Seller Id</div>
         <div class="col">Seller Name</div>
         <div class="col">Seller Email</div>
         <div class="col">Application Statu</div>
         <div class="col">Street</div>
         <div class="col">City</div>
         <div class="col">Pin Code</div>
         <div class="col">Phone Number</div>
         <div class="col">PAN Number</div>
         <div class="col">GSTIN Number</div>
         <div class="col">GSTIN Image</div>
         <div class="col" >PAN Image</div>
         <div class="col" >Action</div>
         <div class="col" >Action</div>
       </li>
       <li class="table-row" *ngFor="let item of details">
         <div class="col" >{{item.id}}</div>
         <div class="col" >{{item.name}}</div>
         <div class="col" >{{item.email}}</div>
         <div class="col" >{{item.applicationStatus}}</div>
         <div class="col" >{{item.contact.street}}</div>
         <div class="col" >{{item.contact.city}}</div>
         <div class="col" >{{item.contact.pincode}}</div>
         <div class="col" > {{item.contact.phoneNo}}</div>
         <div class="col" >{{item.documents.panNo}}</div>
         <div class="col" >{{item.documents.gstInNo}}</div>
         <div class="col"><button id="viewPan" (click)="getPanImage(item.id)" mat-raised-button color="primary">View PAN</button></div>
         <div class="col"><button id="viewGstin" (click)="getGstinImage(item.id)" mat-raised-button color="primary">View GSTIN</button></div>
         <div class="col" ><button type="submit" (click) = "onAccepted(item.id)"  mat-raised-button color="primary">Accept</button></div>
         <div class="col" ><button type="submit"  mat-raised-button color="warn">Reject</button></div>
       </li>
       </ul>
       <img [src]="image"> 
</div>

<!-- 
<h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
  <ul class="responsive-table">
   
   
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42442</div>
      <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
      <div class="col col-3" data-label="Amount">$220</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42257</div>
      <div class="col col-2" data-label="Customer Name">John Smith</div>
      <div class="col col-3" data-label="Amount">$341</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id">42311</div>
      <div class="col col-2" data-label="Customer Name">John Carpenter</div>
      <div class="col col-3" data-label="Amount">$115</div>
      <div class="col col-4" data-label="Payment Status">Pending</div>
    </li>
  </ul>


  <table class="center" style="margin-top: 5%;" *ngIf="details">
   <tr>
      <th>Seller Id</th>
      <th>Seller Name</th>
      <th>Seller Email</th>
      <th>Application Status</th>
      <th>Street</th>
      <th>City</th>
      <th>Pin Code</th>
      <th>Phone Number</th>
      <th>PAN Number</th>
      <th>GSTIN Number</th>
      <th>GSTIN Image</th>
      <th>PAN Image</th>
   </tr>
   <tr *ngFor="let item of details">
      <td>
         {{item.id}}
      </td>
      <td>
            {{item.name}}
         </td>
         <td>
            {{item.email}}
         </td>
         <td>
            {{item.applicationStatus}}
         </td>
         <td>
            {{item.contact.street}}
         </td>
         <td>
            {{item.contact.city}}
         </td>
         <td>
            {{item.contact.pincode}}
         </td>
         <td>
            {{item.contact.phoneNo}}
         </td>
         <td>
            {{item.documents.panNo}}
         </td>
         <td>
            {{item.documents.gstInNo}}
         </td> 
         <td><button id="viewPan" (click)="getPanImage(item.id)">View PAN</button></td>       
         <td><button id="viewGstin" (click)="getGstinImage(item.id)">View GSTIN</button></td>        
         <td>
            <button type="submit" (click) = "onAccepted(item.id)">Accept</button>
            <button type="submit">Reject</button>
         </td> 
    </tr>
</table>


-->
