<div class="container">
   <h2>Seller Details </h2>
   <ul class="responsive-table">
      <li class="table-header">
         <div class="col">Seller Id</div>
         <div class="col">Seller Name</div>
         <div class="col">Seller Email</div>
         <div class="col">Application Statu</div>
         <div class="col">Street</div>
         <div class="col">City</div>
         <div class="col">Pin Code</div>
         <div class="col">Phone Number</div>
         <div class="col">PAN Number</div>
         <div class="col">GSTIN Number</div>
         <div class="col">GSTIN Image</div>
         <div class="col" >PAN Image</div>
         <div class="col" >Action</div>
         <div class="col" >Action</div>
       </li>
       <li class="table-row" *ngFor="let item of details">
         <div class="col" >{{item.id}}</div>
         <div class="col" >{{item.name}}</div>
         <div class="col" >{{item.email}}</div>
         <div class="col" >{{item.applicationStatus}}</div>
         <div class="col" >{{item.contact.street}}</div>
         <div class="col" >{{item.contact.city}}</div>
         <div class="col" >{{item.contact.pincode}}</div>
         <div class="col" > {{item.contact.phoneNo}}</div>
         <div class="col" >{{item.documents.panNo}}</div>
         <div class="col" >{{item.documents.gstInNo}}</div>
         <div class="col"><button id="viewPan" (click)="getPanImage(item.id,im)" mat-raised-button color="primary">View PAN</button></div>
         <div class="col"><button id="viewGstin" (click)="getGstinImage(item.id,im)" mat-raised-button color="primary">View GSTIN</button></div>
         <div class="col" ><button type="submit" (click) = "onAccepted(item.id)"  mat-raised-button color="primary">Accept</button></div>
         <div class="col" ><button type="submit"  mat-raised-button color="warn" (click)="onReject(item.id,detail,item.email)">Reject</button></div>
       </li>
       <li class="table-row" >
         <div class="col"  #detail [hidden]=true >
            <h4> Reason For Rejection</h4>  
            <div class="md-form amber-textarea active-amber-textarea-2">
               <i class="fas fa-pencil-alt prefix"></i>
               <textarea id="form24" class="md-textarea form-control" rows="3" [(ngModel)] = "str"></textarea>
             </div>
            <button type="submit"  mat-raised-button color="primary" (click)="sendmsg()">Send Mail</button>
         </div>
          </li>
          
            <img [src]="image" width="500" height="500" style="padding-left: 400px;" #im [hidden]=true > 
          
       </ul>
      
</div>

