<div style="text-align: center; padding-top: 5%;" >
     <label>Select Category :</label>
     <mat-form-field>
        <mat-select placeholder="Books" [(ngModel)]="SelectedType" (selectionChange)="GetType($event)">
          <mat-option *ngFor="let type of seletedCategory" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div> 
<div *ngIf="data" style="text-align: center; padding-top: 5%;" >
  <form   [formGroup]="ProductForm" (ngSubmit)="onSubmit()" class="example-form"  >
<div>
    <mat-form-field  class="example-full-width">
      <input matInput placeholder="Product Name"  formControlName="Product Name" required>
    </mat-form-field>
    <br>
        <mat-form-field  class="example-full-width">
        <input matInput placeholder="Product Description"  formControlName="Product Description" required>
    </mat-form-field>
    <br>
    <mat-form-field  class="example-full-width">
      <input matInput placeholder="Quantity"  formControlName="Quantity" required>
    </mat-form-field>
    <br>
    <mat-form-field  class="example-full-width">
      <input matInput placeholder="Price"  formControlName="Price" required>
    </mat-form-field>
    <br>
</div>  
  <div *ngFor="let item of CategoryQuestions">
    <mat-form-field  class="example-full-width">
        <input matInput placeholder="{{item}}"  formControlName="{{item}}" required>
    </mat-form-field>
    
  </div>
  <div *ngIf="enterAllDetails">
      <p>Enter all details</p>
    </div>
  <label>Upload Images:
    <br>
  <input formControlName="document" type="file" ng2FileSelect accept=".png" [uploader]="uploader" multiple/><br/>
  </label>
  <div  style="text-align: center; padding-left: 35%;">
  <table>
       <thead>
            <tr>
              <th>
              </th>
              <th>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <th>
                {{item?.file?.name}} {{ item?.file?.size/1024/1024 | number:'.2' }} MB
              </th>
              <th class="text-center">
                <mat-icon (click)="item.remove()">delete</mat-icon>
              </th>
            </tr>
            </tbody>
          </table>
    </div>      
          <br>
    <br>
    <button style="margin-top: 3%;" type="submit" class="button">Submit</button> 
  </form>
 </div>