<div style="text-align: center;">
  <mat-tab-group>
      <mat-tab label = "Basic Information">
          <form [formGroup] = "basicDetailsForm" (ngSubmit)="onSignUp()">
              <label>
                  Name :
                  <input type="text" placeholder="Name" formControlName="name"><br>
              </label>
              <br>
              <label>
                  Email : 
                  <input type="email" placeholder="Email"formControlName="email"><br>
              </label>
              <br>
              <label>
                  Password : 
                  <input type="password" placeholder="Password" formControlName="password"><br>
              </label>
              <br>
              <label>
                  Confirm Password : 
                  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"><br>
              </label>                
          </form>
      </mat-tab>
      <mat-tab label = "Contact Details">
          <form [formGroup] = "contactDetailsForm">
              <label>
                Street :  
                <input type="text" placeholder="Street" formControlName="street"><br>
              </label>
              <br>
              <label>
                  City :  
                  <input type="text" placeholder="City" formControlName="city"><br>
              </label>
              <br>
              <label>
                  Pincode : 
                  <input type="text" placeholder="Pincode" formControlName="pincode"><br>
              </label>
              <br>
              <label>
                  Phone Number : 
                  <input type="text" placeholder="Phone Number" formControlName="phoneNo"><br>
              </label>                
          </form>
      </mat-tab>
      <mat-tab label = "Document Details">
          <form [formGroup] = "documentsForm" (ngSubmit)="onSignUp()">
              <label>
                  PAN Number
                  <input type="text" placeholder="PAN Number" formControlName="panNo"><br>
              </label>
              <br> 
              <label>
                  PAN Image 
                  <input type="file" accept="image/" (change)="onPANSelected($event)"><br>
              </label>
              <br>
              <label>
                  GSTIN Number
                  <input type="text" placeholder="GSTIN Number" formControlName="gstInNo"><br>
              </label>
              <br>
              <label>
                  GSTIN Image 
                  <input type="file" accept="image/" (change)="onGSTINSelected($event)"><br>
              </label>
              <br>
              <button style="margin-top: 3%;" type="submit" class="button" [disabled]="basicDetailsForm.invalid && contactDetailsForm.invalid && documentsForm.invalid" >SignUp</button> 
          </form> 
      </mat-tab>
  </mat-tab-group>
</div>
  
