<body>
    <div style="text-align: center;" >
        <mat-tab-group>
            <mat-tab label = "Basic Information">
            <div class="container">    
                <form [formGroup] = "basicDetailsForm" (ngSubmit)="onSignUp()" id="contact" >
                    <fieldset>
                        <input type="text" placeholder="Name" formControlName="name"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="email" placeholder="Email"formControlName="email"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="password" placeholder="Password" formControlName="password"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword"><br>
                    </fieldset>
                    <br>
                    <fieldset id="field">Select Category :
                      <mat-checkbox *ngFor="let type of types" [value]="type.value" (change)="GetType( type.viewValue,$event)">
                         <span></span> {{ type.viewValue }}
                      </mat-checkbox>
              </fieldset>                
                </form>
            </div>    
            </mat-tab>
            <mat-tab label = "Contact Details">
                <div class="container"> 
                <form [formGroup] = "contactDetailsForm" id="contact" >
                    <fieldset>
                      <input type="text" placeholder="Street" formControlName="street"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" placeholder="City" formControlName="city"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" placeholder="Pincode" formControlName="pincode"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" placeholder="Phone Number" formControlName="phoneNo"><br>
                    </fieldset>                
                </form>
                </div>
            </mat-tab>

            <mat-tab label = "Document Details">
                <div class="container"> 
                <form [formGroup] = "documentsForm" (ngSubmit)="onSignUp()" id="contact" >
                    <fieldset>
                        <input type="text" placeholder="PAN Number" formControlName="panNo"><br>
                    </fieldset>
                    <br> 
                    <fieldset>
                        <input type="file" accept="image/" (change)="onPANSelected($event)"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" placeholder="GSTIN Number" formControlName="gstInNo"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="file" accept="image/" (change)="onGSTINSelected($event)"><br>
                    </fieldset>
                    <br>
                    <button style="margin-top: 3%;" type="submit" class="button" [disabled]="basicDetailsForm.invalid && contactDetailsForm.invalid && documentsForm.invalid" id="contact-submit">SignUp</button> 
                </form> 
                </div>
            </mat-tab>
        </mat-tab-group>
      </div>
        
      
</body>