<body>
    <div style="text-align: center;" >
        <mat-tab-group>
            <mat-tab label = "Basic Information">
            <div class="container">    
                <form [formGroup] = "basicDetailsForm" (ngSubmit)="onSignUp()" id="contact" >
                    <fieldset>
                        <input type="text" required placeholder="Name" formControlName="name"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="email" required placeholder="Email"formControlName="email"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="password" required placeholder="Password" formControlName="password"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="password" required placeholder="Confirm Password" formControlName="confirmPassword"><br>
                    </fieldset>
                    <br>
                    <fieldset id="field" >Select Category :
                      <mat-checkbox  *ngFor="let type of types" [value]="type.value" (change)="GetType( type.viewValue,$event)">
                         <span></span> {{ type.viewValue }}
                      </mat-checkbox>
                    </fieldset>
                </form>
            </div>    
            </mat-tab>
            <mat-tab label = "Contact Details">
                <div class="container"> 
                <form [formGroup] = "contactDetailsForm" id="contact" >
                    <fieldset>
                      <input type="text" required placeholder="Street" formControlName="street"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" required placeholder="City" formControlName="city"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text" required placeholder="Pincode" formControlName="pincode"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="text"  required placeholder="Phone Number" formControlName="phoneNo"><br>
                    </fieldset>           
                </form>
                </div>
            </mat-tab>

            <mat-tab label = "Document Details">
                <div class="container"> 
                <form [formGroup] = "documentsForm" (ngSubmit)="onSignUp()" id="contact" >
                    <fieldset>
                        <input type="text" required placeholder="PAN Number" formControlName="panNo"><br>
                    </fieldset>
                    <br> 
                    <fieldset>
                        <input type="text" required placeholder="GSTIN Number" formControlName="gstInNo"><br>
                    </fieldset>
                    <br>
                    <form [formGroup] = "uploadForm" enctype="multipart/form-data"  (ngSubmit)="onSubmit()">
                    <fieldset>
                        <input type="file" required accept="image/" (change)="onPANSelected($event)"><br>
                    </fieldset>
                    <br>
                    <fieldset>
                        <input type="file" required accept="image/" (change)="onGSTINSelected($event)"><br>
                    </fieldset>
                    
                </form>
                    <p *ngIf="formInvalid">
                        Enter all details properly
                    </p>
                    <p *ngIf="userExists">
                        User already exists
                    </p>
                    <br>
                    <button style="margin-top: 3%;" type="submit" class="button" [disabled]="basicDetailsForm.invalid && contactDetailsForm.invalid && documentsForm.invalid" id="contact-submit">SignUp</button> 
                </form> 
                </div>
            </mat-tab>
        </mat-tab-group>
      </div>
        
      
</body>
