<div>
    <mat-toolbar>
        Welcome {{username}}
        <span class = "spacer"></span>
        <button  style="margin-right: 8px;" [disabled]="disable" mat-raised-button color="primary" (click)="Check()">{{value}}</button>
        <button mat-raised-button color="warn" id="logout" (click)="onLogout()" >Logout</button>
      
        </mat-toolbar>
    
</div>

<div *ngIf="applicationStatus1 == 'Accepted'">
    <mat-tab-group [selectedIndex]="tabIndex">
        <mat-tab label="Add Product">
            <app-add-products></app-add-products>
        </mat-tab>
        <mat-tab label="View Products"><app-view-component></app-view-component></mat-tab>
        <mat-tab label="View Order History"> <app-view-order-history></app-view-order-history> </mat-tab>
    </mat-tab-group>
</div>

<div *ngIf="applicationStatus1 == 'Pending'">
    <p> Your Application is yet to be Accepted !</p>
</div>

