<div style="text-align: center;" >
    <form [formGroup]="RegisterForm"  (ngSubmit)="onLogin('product')" style="padding-bottom: 3%;" class="box">
            <h2>Login</h2>       
              <input type="text" placeholder="Email" [(ngModel)]="Email" formControlName="email"><br>
              <input type="password"  placeholder="Password" [(ngModel)]="password" formControlName="password"> <br>                       
             <button style="margin-top: 3%;" type="submit" class="button">Login</button>               
     </form> 
     <button style="margin-top: 3%;" class="button"><a style="margin-top: 3%;" href="/signup">Sign Up</a></button>   
    </div>